.project h3 {
    font-size: 55px;
    font-weight: bold;
    padding: 1% 8%;
    color: #3D94B2;
}

.wrapper {
    height: fit-content;
    padding: 4em 8% 8% 8%;
    display: grid;
    grid-template-areas:
        ". .";
    grid-gap: 30px;
}

@media screen and (max-width: 768px) {
    .project h3 {
        font-size: 40px;
        text-align: center;
    }
    
    .wrapper {
        grid-template-areas:
            ".";
    }

}



.card {
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #FDF5E3;
    border-radius: 8px;
    border: 2px #3D94B2 solid;
}

.card img {
    height: 200px;
    width: auto;
}

@media screen and (max-width: 768px) {
    .card img {
        height: 100px;
    }

}

.description {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;
}

.description h4 {
    color: #8D0801;
    font-size: 26px;
    font-weight: bold;
}

.description p {
    color: #000C18;
    font-size: 17px;
}

@media screen and (max-width: 768px) {

    .description {

        padding: 0 10px;
     
    }
    

    .description h4 {
      
        font-size: 22px;
        
    }

    .description p {
        font-size: 15px;
    }


}