$color-orange: #EB5E28;
$color-orange-sry: #F0865E;
$color-blue: #0F5971;
$color-blue-sry: #3D94B2;
$color-white: #FFFCF2;
$color-grey-light: #CCC5B9;
$color-grey-dark: #403D39;
$color-black: #252422;

$font-title-sm: 40px;
$font-p-sm: 25px;